@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amita:wght@700&family=Merienda&display=swap');
/* importação das fontes selecionas para estilização */
/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* definida imagem de fundo com proporção 100% visando uma página sem rolamento */
body{
    background-image: url(../Imagens/fundoAGRVAI.svg);
    background-size: contain;
    width: 100%;
    height: 100vh;
}

/* centralizado na página os conteudos da main (titulo e formulário) e definido como display flex */
main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* estilização do titulo  */
.titulo{
    font-family: 'Amita', cursive;
    font-size: 48px;
    color: #20433D;
}

/* estilização do formulário, com arredondamento das bordas de 10px, uma borda para delimitação do conteúdo e centralização dos itens */
form{
    margin: 30px;
    padding: 30px;
    height: auto;
    width: 448px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    border: 1px solid #20433D;
    border-radius: 10px;
    align-items: center;
}

/* definido um espaço de 5px entre os elementos, direcionamento de coluna */
fieldset{
    border: none;
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

/* estilização do botão de conversão, definição do tempo de diminuição do hover */
button{
    font-family: 'Merienda', cursive;
    font-size: 20px;
    background-color: #d2522d;
    color: #F8F2DC;
    border: 1px solid #20433D;
    border-radius: 5px;
    padding: 5px 10px; 
    transition: 0.1s;
    cursor: pointer;
    width: 100%;
} 
/* função hover para que o botão diminua ao passar do mouse */
button:hover{
    transform: scale(0.9);
}

/* estilização das caixas de valores de entrada e saida */
input{
    width: 100%;
    height: 45px;
    background-color: #f2f2f2;
    padding-left: 10px;
    font-family: 'Merienda', cursive;
    font-size: 18px;
    border-radius: 7px;
    outline: none;
}

/* definida a direção de linha para que as medidas de conversão e a seta fiquem alinhadas */
.medidas{
    flex-direction: row;
    align-items: center;
}

/* diminuição do espaçamento de elementos para 2px e alinhado no centro para que o titulo fique centralizado em cima da caixa de seleção */
.categorias{
    gap: 2px;
    align-items: center;
}
label{
    font-family: 'Merienda', cursive;
    font-size: 25px;
    color: #20433D;
}

/* estilização das três caixas de seleção */
select{
    width: 100%;
    height: 45px;
    background-color: #f2f2f2;
    padding-left: 10px;
    border-radius: 7px;
}

/* estilização para que as opções de seleção de unidade que apareçam quando a página for aberta seja apenas as de comprimento */
.visivel{
    display: flex;
}
.invisivel{
    display: none;
}

/* estilização da caixa de resultado (div) */
.caixa-resultado{
    background-color: #f2f2f2;
    width: 100%;
    height: 38px;
    border: 1px solid #000;
    border-radius: 7px;
}